<!DOCTYPE HTML>
<html>
    <head>
        <title>TendingStream73's site</title>
    </head>
    <body>
        {{ site_links }}
        <p>Welcome to my site!</p>
        <h3>Links: <a href="https://github.com/SachaTending">Github</a></h3>
        <p>Discord to contact: TendingStream73#5806</p>
        <h3>About me: </h3>
        <p>I like programming in python, c++ and other</p>
        <p>Also im from russia</p>
        <a href="https://discord.gg/uUtBawHsFV">my small discord server :)</a>
        <h3>My projects: </h3>
        <table>
            <tr>
                <td>FloppaOS</td>
                <td><a href="https://github.com/SachaTending/osdev">Github</a></td>
            </tr>
            <tr>
                <td>Tendbot</td>
                <td><a href="https://github.com/SachaTending/tendbot">Github</a></td>
                <td><a href="https://discord.com/api/oauth2/authorize?client_id=934851107870621726&permissions=8&scope=bot">Invite bot</a></td>
            </tr>
        </table>
        <h3>Site info: </h3>
        <p>Peoples joined to site: {{ peoples_joined }}</p>
        <p>Server time: {{ serv_time }}</p>
        <p>Gunicorn version: {{ gver }}</p>
        <p>Python version: {{ pyver }}</p>
    </body>
</html>